<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Day04Lap_LayOut</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Day04Lap_LayOut.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="text-center py-3 bg-light border-bottom">
        <img src="~/images/logo.png" alt="Logo" width="350" height="100" class="mb-2" />
        
    </div>
    <!--header-->
    @Html.Partial("Header")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("Sidebar")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <div class="container">
        <main role="main" class="pb-md-9">
            @RenderBody()
        </main>
    </div>
    <!--footer-->
    @Html.Partial("Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
